* text=auto

*.sh text eol=lf
*.azcli text eol=lf
*.ps1 text eol=lf
*.py text eol=lf
*.bicep text eol=lf
*.bicepparam text eol=lf
*.kql text eol=lf
*.sql text eol=lf
*.json text eol=lf
*.md text eol=lf

*.pptx binary